@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "CategoryEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" action="/Category/CategoryEdit/">
    @Html.HiddenFor(x => x.CategoryID)

    <label>Kategori Adı</label>
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br />
    <label>Kategori Açıklama</label>
    @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription)
    <br />
    <button class="btn btn-outline-success">Kaydet</button>


</form>

