@using PagedList
@using PagedList.Mvc

@model IEnumerable<EntityLayer.Concrete.Blog>
   <div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h2>Son Gönderiler</h2>
            </div>
        </div>
      
        <div class="row">
            @foreach (var item in Model)
            {


                <div class="col-lg-4 mb-4">
                    <div class="entry2">
                        <a href="/Blog/BlogDetails/@item.BlogID/"><img src="@item.BlogImage" style="height:250px" alt="Image" class="img-fluid rounded"></a>
                        <div class="excerpt">
                            <span class="post-category text-white bg-secondary mb-3">@item.Category.CategoryName</span>

                            <h2><a href="/Blog/BlogDetails/@item.BlogID/">@item.BlogTitle</a></h2>
                            <div class="post-meta align-items-center text-left clearfix">
                                <figure class="author-figure mb-0 mr-3 float-left"><img src="@item.Author.AuthorImage" alt="Image" class="img-fluid"></figure>
                                <span class="d-inline-block mt-1"> <a href="#">@item.Author.AuthorName</a></span>
                                <span>&nbsp;-&nbsp; @item.BlogDate.ToString("dd-MMM-yyyy")</span>
                                @*BÖYLE YAPARAKDA AY DEĞERİNİ DÜZGÜNCE ALIYORUZ*@
                            </div>

                            <p>@(item.BlogContent.Length>200 ? item.BlogContent.Substring(0,200)+"...":item.BlogContent)</p>
                            @*buranın amacı 0 ile 200. karakterde boşluğa kadar al ve sonuna ... ekle ki garip şeyler olmasın elma yazacakken el yazmasın*@
                            <p><a href="/Blog/BlogDetails/@item.BlogID/">Daha Fazla</a></p>
                        </div>
                    </div>
                </div>
            }
            </div>
      


    </div>
</div>
@Html.PagedListPager((IPagedList)Model,paged=>Url.Action("Index",new {paged}))