<div class="site-section bg-light">
    <div class="container">

        <div class="row align-items-stretch retro-layout">

            <div class="col-md-5 order-md-2">
                <a href="single.html" class="hentry img-1 h-100 gradient" style="background-image: url('@ViewBag.techPostImage');">
                    <span class="post-category text-white bg-danger">@ViewBag.techPostCategory</span>
                    <div class="text">
                        <h2>@ViewBag.techPostName</h2>
                        <span>@ViewBag.techPostDate</span>
                    </div>
                </a>
            </div>

            <div class="col-md-7">

                <a href="single.html" class="hentry img-2 v-height mb30 gradient" style="background-image: url('@ViewBag.artificalPostImage');">
                    <span class="post-category text-white bg-success">@ViewBag.artificalPostCategory</span>
                    <div class="text text-sm">
                        <h2>>@ViewBag.artificalPostName</h2>
                        <span>@ViewBag.artificalPostDate</span>
                    </div>
                </a>

                <div class="two-col d-block d-md-flex">
                    <a href="single.html" class="hentry v-height img-2 gradient" style="background-image: url('@ViewBag.educationPostImage');">
                        <span class="post-category text-white bg-primary">@ViewBag.educationPostCategory</span>
                        <div class="text text-sm">
                            <h2>@ViewBag.educationPostName</h2>
                            <span>@ViewBag.educationPostDate</span>
                        </div>
                    </a>
                    <a href="single.html" class="hentry v-height img-2 ml-auto gradient" style="background-image: url('@ViewBag.careerPostImage');">
                        <span class="post-category text-white bg-warning">@ViewBag.careerPostCategory</span>
                        <div class="text text-sm">
                            <h2>@ViewBag.careerPostName</h2>
                            <span>@ViewBag.careerPostDate</span>
                        </div>
                    </a>
                </div>

            </div>
        </div>

    </div>
</div>
